:root{
    --headingFont: 'PT Sans', sans-serif;
    --paragraphFont: 'Open Sans', sans-serif;
    --primary: #874d3c;
    --white: #fff;
    --black: #000;
    --grey: #e1e1e1;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-family:var(--paragraphFont);
    font-size: 1.6rem;
    line-height: 2;
}

/* Globals */
.container{
    width: min(90%, 120rem);
    margin: 0 auto;
}

a{
    text-decoration: none;
}

h1, h2, h3, h4{
    font-family: var(--headingFont);
    line-height: 1.2;
}

h1{
    font-size: 4.8rem;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 3.2rem;
}

h4{
    font-size: 2.8rem;
}

img{
    max-width: 100%;
}

/* Utilities */

.no-margin{
    margin: 0;
}

.no-padding{
    padding: 0;
}

.center-text{
    text-align: center;
}

/* Header */

/* Modernizr for WebP */
.webp .header{
    background-image: url(../img/banner.webp);
}

.no-webp .header{
    background-image: url(../img/banner.jpg);
}

.header{
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.header__text{
    text-align: center;
    color: var(--white);
    margin-top: 5rem;
}

/* Centering the header text
when bigger screens */
@media (min-width:768px) {
    .header__text{
        margin-top: 15rem;
    }
}

.bar{
    padding-top: 3rem;
}

@media (min-width: 768px) {
    .bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/* Logo */
.logo{
    color: var(--white);
}

.logo__name{
    font-weight: 400;
}

.logo__bold{
    font-weight: 700;
}

/* Navigation */

@media (min-width: 768px) {
    .nav{
        display: flex;
        gap: 2rem;
    }
}

.nav__link{
    display: block;
    font-size: 1.8rem;
    color: var(--white);
}

/* Main content */

@media (min-width: 768px ) {
    .main-content{
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 3rem;
    }
}

.entry{
    border-bottom: 0.2rem solid var(--grey);
    margin: 2rem;
}

.entry:last-of-type{
    border: none;
    margin: 0;
}

.button{
    display: block;
    font-family: var(--headingFont);
    color: var(--white);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2rem;
    border: none;
}

.button:hover{
    cursor: pointer;
}

@media (min-width: 768px ) {
    .button{
        display: inline-block;
    }
}
.primary--button{
    background-color: var(--black);
}

.secundary--button{
    background-color: var(--primary);
}

/* Sidebar */

.courses{ 
    list-style: none;
}

.course__widget{
    border-bottom: 1px solid var(--grey);
    margin-bottom: 2rem;
}

.course__widget:last-of-type{
    border: none;
    margin: 0;
}

.course__widget--label,
.course__label{
    font-family: var(--headingFont);
    font-weight: 700;
}

.course__widget--info,
.course__info{
    font-weight: 400;
}

.course__widget--label,
.course__widget--info,
.course--info
.course__lable{
    font-size: 2rem;
    margin: 1rem;
}

/* Footer */
.footer{
    background-color: var(--black);
    padding-bottom: 3rem;
    margin-top: 4rem;
}

/* About us */

@media (min-width:769px ) {
    .about-us{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

/* Courses Page */

@media (min-width:769px) {
    .course{
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
    }
}

.course{
    padding: 3rem 0;
    border-bottom: 1px solid var(--grey);
    margin: 2rem 0;
}

.course:last-of-type{
    border: none;
}

/* Contact page */

.contact-bg{
    background-image: url(../img/contacto.jpg);
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.form{
    background-color: var(--white);
    margin: -5rem auto 0 auto;
    width: 95%;
    padding: 5rem;
}

.field{
    display: flex;
    margin-bottom: 2rem;
}

.field__label{
    flex: 0 0 9rem;
    text-align: right;
    padding-right: 2rem;
}

.field__field{
    flex: 1;
    border: 1px solid var(--grey);
}

.field__field--textarea{
 height: 20rem;
}

@media (max-width:768px ) {
    .input-button{
        width: 100%;
    }
}

